@model RNews.Models.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <h4 class="text-center font-weight-light">@Model.Name</h4>
        <hr />
        <div class="row align-content-center">
            <div class="col-md-3">
                <div class="text-right">
                    <label asp-for="Name" class="font-weight-light "></label>
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <input asp-for="Name" class="form-control" placeholder="Email address" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="text-right">
                    <label asp-for="Email" class="font-weight-light"></label>
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <input asp-for="Email" class="form-control" placeholder="Email address" />
                </div>
            </div>
        </div>

        
    </div>
</div>

@*@if (User.Identity.IsAuthenticated)
{
    @foreach (var claim in User.Claims)
    {
        <div>@claim.Issuer | @claim.Type | @claim.Value</div>
    }
}
else
{
    <p>User is not signed in</p>
}*@