
@{
    ViewData["Title"] = "Profile";
}

<h2 class="font-weight-light">Profile - @User.Identity.Name</h2>
<hr />

@if (User.Identity.IsAuthenticated)
{
    @foreach (var claim in User.Claims)
    {
        <div>@claim.Issuer | @claim.Type | @claim.Value</div>
    }
}
else
{
    <p>User is not signed in</p>
}