@inject Microsoft.AspNetCore.Authentication.IAuthenticationSchemeProvider schemeProvider
@model RNews.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


<div class="row justify-content-center">
    <div class="col-md-4 ">
        <h1 class="text-center display-4">Registration</h1>
        <hr />
        <form method="post" asp-action="Register" asp-controller="Auth">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email address" />

            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control "  placeholder="Password" />
            </div>

            <div class="form-group">
                <input asp-for="PasswordConfirm" class="form-control" placeholder="Confirm password" />
            </div>

            <div class="form-group">
                <button id="generate-password" class="btn btn-sm btn-link btn-block">Generate password</button>
                <span id="auto-password" class="small"></span>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="gender">Gender: </label>
                </div>
                <select asp-for="Gender" id="gender" asp-items="Html.GetEnumSelectList<RNews.Models.ViewModels.GenderView>()" class="form-control"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary btn-lg btn-block" />
            </div>
        </form>
        <hr />

        @foreach (var scheme in await schemeProvider.GetRequestHandlerSchemesAsync())
        {
            <form asp-action="signin" asp-controller="authexternal" method="post">
                <input type="hidden" name="Provider" value="@scheme.Name" />
                <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />

                <button class="btn btn-lg btn-link btn-block" type="submit">Connect using @scheme.DisplayName</button>
            </form>
        }
        <div class="form-group">
            <span asp-validation-for="Email" class="text-danger"></span><br />
            <span asp-validation-for="Password" class="text-danger"></span><br />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/GeneratePassword.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
