
@{
    ViewData["Title"] = "Publications";
}
    <head>
        <link href="~/simplemde/simplemde.min.css" rel="stylesheet" />
    </head>
<hr />
<div class="row">

    <div class="col-md-8">
        <h3>New Publication</h3>
        <br />
        <partial name="Create"/>
    </div>
    <div class="col-md-4">
       
    </div>
   
</div>


@section Scripts{
    <script src="~/simplemde/simplemde.min.js"></script>
    <script src="~/js/simplemde.js"></script>
}

   
