@model RNews.Models.ViewModels.PostShowViewModel
@{
    ViewData["Title"] = "Show";
}


<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="text-center font-weight-light">@Model.Title</h2>
        <hr />
        <img src="@Model.ImagePath" alt="Alternate Text" class="img-fluid" />
        <div>
            @Html.Raw(Model.Content)
        </div>
        <partial name="_Comments" />
    </div>
    
</div>